<template name="videoPane">
    <div id="video-container"></div>



    <video id="example_video_1"
           class="video-js vjs-default-skin"
           controls preload="auto"
           width="640" height="480">
        <source src="http://localhost:8888/1.mp4" type='video/mp4' />
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>



</template>